EXERCICE 1

In [6]:
nombres_divisible = []
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        nombres_divisible.append(i)
print(nombres_divisible)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

EXERCICE 2

In [14]:
def factorialle(n):
    resultat = 1
    i = 1
    while i <= n: 
        resultat *= i
        i += 1   
    return resultat
nombre=int(input("Saisir un nombre "))
print(factorialle(nombre))

Saisir un nombre 5
120

EXERCICE 3

In [19]:
i=1
nombre=0
dictionnaire =dict()
nombre=int(input("Entrez une valeur "))
while i<nombre+1:
    dictionnaire[i]=i*i
    i+=1
print(dictionnaire)

Entrez une valeur8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

EXERCICE 4

In [23]:
chaine = 'chaton'
taille = len(chaine)

def supprimer_caractere(chaine, i):
    if i < len(chaine):
        mot = chaine[:i] + chaine[i+1:]
        print(mot)
    else:
        print('Le mot est court, li contient', taille ,'caractere')

index = int(input("Saisir l'indexe a supprimer "))
supprimer_caractere(chaine, index)

Saisir l'indexe a supprimer 9
Le mot est court, li contient 6 caractere

EXERCICE 5

In [24]:
import numpy as np
liste=np.array([[0,1],[2,3],[4,5]])
liste = liste.tolist()
print(liste)

[[0, 1], [2, 3], [4, 5]]

EXERCICE 6

In [25]:
import numpy as np

matrice_1 = np.array([0,1,2])
matrice_2 = np.array([2,1,0])

covariance = np.cov(matrice_1,matrice_2)
print(covariance)

[[ 1. -1.]
 [-1.  1.]]

EXERCICE 7

In [29]:
import numpy as np

def racine_carre(tableau):
    C=50
    H=30
    resultat=np.array([int((2 * C * tableau))/H])
    new_resultat=np.sqrt(resultat)
    new_resultat=np.floor(new_resultat)
    return new_resultat

def saisie_affichage():
    n=int(input("Entrez le nombre de valeur a calculer "))
    resltat_final=np.array([])
    for i in range(n):
        tableau = np.array([int(input("Entrez la valeur numero {}: " .format(i+1)))])
        if tableau is not None:
            resultat=racine_carre(tableau)
            resltat_final=np.append(resltat_final,resultat)
    print(resltat_final)

saisie_affichage()

Entrez le nombre de valeur a calculer 1
Entrez la valeur numero 1: 100
[18.]